@page
@model Expense.Views.Expenses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExpenseViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseViewModel.TransactionNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseViewModel.TransactionNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseViewModel.TransactionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseViewModel.TransactionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseViewModel.CostUnitCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseViewModel.CostUnitCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseViewModel.CostUnitName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseViewModel.CostUnitName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseViewModel.Remarks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseViewModel.Remarks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseViewModel.TaxableTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseViewModel.TaxableTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseViewModel.VatTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseViewModel.VatTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseViewModel.NetOfVatTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseViewModel.NetOfVatTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseViewModel.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseViewModel.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseViewModel.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseViewModel.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseViewModel.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseViewModel.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseViewModel.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseViewModel.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseViewModel.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseViewModel.UpdatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ExpenseViewModel?.ExpenseId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
